.container {
  text-align: left;
  position: fixed;
  left: 20%;
  top: 20%;
}

.container strong {
  font-size: 20px;
  line-height: 26px;
}

.container p {
  font-size: 15px;
}

.title {
  text-align: center;
}

#icon-small {
  height: 50px;
  position: fixed;
  bottom: -5px;
  left: 10px;
}

.logo {
  position: fixed;
  top: 35%;
}


